<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1004415570537-qk1mpmib0a5oghur5o6l0ukdfd8ffotu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1004415570537-qk1mpmib0a5oghur5o6l0ukdfd8ffotu</string>
	<key>API_KEY</key>
	<string>AIzaSyBWkVZ_2LamyopMLjABGMavQHXgYndSizY</string>
	<key>GCM_SENDER_ID</key>
	<string>1004415570537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kul.boonanake.Messager</string>
	<key>PROJECT_ID</key>
	<string>messengerkul</string>
	<key>STORAGE_BUCKET</key>
	<string>messengerkul.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004415570537:ios:7804f8fee5614dab2188f8</string>
</dict>
</plist>